#openmodal{
    height: 50px;
    text-align: center;
    background-color: rgb(205, 164, 50);
}

#modalbox{
    display: none;
    margin: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 100px;
    background-color: rgba(68, 68, 68, 0.623);
}
#modalcontent{
    background-color: white;
    width: 60%;
    height: 70px;
    margin: auto;
    display: flex !important;

}
#form{
    width: 100% !important;
    display: flex !important;
}
#modalcontent #form p{
    margin-left: 10px;
    margin-top: auto !important;
    margin-bottom: auto !important; 
    
}
#close{
    color: black;
    margin-left: auto;
    font-size: 30px;
    font-weight: bold;
}
#main{
    max-width: 1300px;
    margin: auto;
}
#main img{
    margin: auto;
    width: 100%;
}
.container{
    margin: 30px 0 !important;
}
#main div{
    font-size: large;
}
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
a {
    background-image: linear-gradient(
    to right,
    #ff2626,
    #ff2626 50%,
    #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: #ff2626;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
background-position: 0;
}

a:hover::before {
    width:100%;
}